<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Test AI</title>
    </head>
    <body>
        <div class="course">
            <h1>Course AI </h1>
            {{course_text}}
            <form action="/", method="post">
                <input type="hidden" name="COMP1126_Performance" value="10"/>
                <input type="text" name="COMP1126_Difficulty" placeholder="Dificulty"/>
                <input type="text" name="COMP1126_Courses" placeholder="Courses"/>
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
            <br>
            <br>
            {{prediction_text}}
        </div>
    </body>
</html>