/* Main style for page */
/* Import for font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap");

/* Stile for body */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: -50px;
  padding: 0;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background-image: url('https://www.monash.edu/__data/assets/image/0011/3374543/WebCampaignBanner_2400x900.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Style for container width */
.container{
  width: 90vw;
}

.alert {
  padding: 0.5rem;
}

.form-wrap h1,
.form-wrap .form-label {
  font-weight: 600;
}
