@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Apply the Raleway font to specific elements */
body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --fc-border-color: rgb(214, 214, 214);
    --fc-daygrid-event-dot-width: 5px;
    width:100%;
  }


#custom-header h1{
    font-size: 50px;
}

#calendar {
    padding: 20px;
    width:100%;
    text-decoration: none !important;
    cursor: default !important;
}

.fc th {
    text-decoration: none !important;
}


.fc-event {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

#calendar .fc-col-header-cell {
    text-decoration: none !important;
}


.fc-header-toolbar .fc-button {
    background-color: #004792; /* Change to the desired background color */
    color: #ffffff; /* Change to the desired text color */
    border-color: #c7c7c7;
    text-transform: uppercase;
    font-weight: bold;
}

.fc-header-toolbar .fc-button:hover {
    background-color: #0056b3; /* Background color on hover */
}

.fc-header-toolbar button.fc-button.fc-button-primary.fc-button-active {
    background-color: #0062ca; /* Background color when button is selected */
}



  .fc-event:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
  }


/* Apply rounded corners to the individual event cells */
.fc-daygrid-event, .fc-timegrid-event {
    border-radius: 10px;
}

/* Apply rounded corners to the event popover */
.fc-popover {
    border-radius: 10px;
}

/* Apply rounded corners to the event tooltip */
.fc-event-tooltip {
    border-radius: 10px;
}




/* Customizing event colors */
.fc-event {
    background-color: #c7c7c7; /* Light gray background for events */
    color: #333; /* Dark gray text color */
}

/* Styling calendar header */
.fc-toolbar-title {
    font-size: 20px; /* Increase font size of the calendar title */
    color: #555; /* Gray color for the calendar title */
}

/* Adjusting event block size */
.fc-time-grid-event {
    padding: 5px; /* Add padding around event blocks */
    margin-bottom: 5px; /* Add margin between event blocks */
}

/* Customizing event title */
.fc-title {
    font-weight: bold; /* Make event titles bold */
}


