/* Styles for timetable */
/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Apply font to body */
body {
    font-family: 'Raleway', sans-serif;
}


:root {
    --fc-border-color: rgb(214, 214, 214);
    --fc-daygrid-event-dot-width: 5px;
    width:100%;
  }

/* Page Title stules */
#custom-header h1{
    font-size: 50px;
}

/* Calendar styles */
#calendar {
    padding: 20px;
    width:100%;
    text-decoration: none !important;
    cursor: default !important;
}

.fc th {
    text-decoration: none !important;
}


.fc-event {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

#calendar .fc-col-header-cell {
    text-decoration: none !important;
}


.fc-header-toolbar .fc-button {
    background-color: #004792;
    color: #ffffff; 
    border-color: #c7c7c7;
    text-transform: uppercase;
    font-weight: bold;
}

.fc-header-toolbar .fc-button:hover {
    background-color: #0056b3;
}

.fc-header-toolbar button.fc-button.fc-button-primary.fc-button-active {
    background-color: #0062ca; 
}

  .fc-event:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
  }


/* Event colorss styling */
.fc-event {
    background-color: #c7c7c7; 
    color: #333; 
}

/* Styling calendar header */
.fc-toolbar-title {
    font-size: 20px; 
    color: #555; 
}

/* Event block size styling */
.fc-time-grid-event {
    padding: 5px;
    margin-bottom: 5px; 
}

/* Event title Styling */
.fc-title {
    font-weight: bold; 
}


